<!DOCTYPE html>
<html lang="en">
<head>
  <title>我的网站|注册</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <style>
    .navbar {
       box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     }
    .text {
        text-shadow:3px 3px 5px #000000;
     }
     .card {
       box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     }
  </style>
</head>
<body background="/static/mysite/bgimg.jpg">

<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <a class="navbar-brand" href="" style="cursor:pointer;pointer-events: none;">个人网站首页</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index'%}">我的博客</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
    <div class="col-md-6 offset-md-3" style="margin-top:3em;">
       <div class="card">
           <div class="card-header bg-primary text-center text-white">用户注册</div>
           <div class="card-body ">
              <form action="" method="POST">
                {% csrf_token %}
                  {% for field in registerform %}
                  <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                  <p class="text-danger">{{ field.errors.as_text }}</p>
                  {% endfor %}
                  <span class="pull-left text-danger">{{ loginform.non_field_errors }}</span>
               <a href="{{ back_url }} " class="btn btn-info" style="margin-top:1em;float:left;">返回</a>
                <input type="submit" value="注册" class="btn btn-primary" style="margin-top:1em;float:right;">
              </form>
           </div>
       </div>
    </div>
</div>

</body>
</html>